#A {
    position:relative;
    width:400px;
    height: 500px;
    border: 1px solid #0f0;
}

#B {
    position:absolute;
    max-width:300px;
    max-height:300px;
    border: 1px solid #00f;
    width: 150px;
    height: 150px;
    left:0; 
	right:0; 
	top:0; 
	bottom:0; 
	margin:auto; 
}